# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Memory captures
[Mm]emoryCaptures/

# Visual Studio
.vs/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Rider
.idea/

# OS
.DS_Store
Thumbs.db

# Crash reports
sysinfo.txt

# Unity temporary
*.tmp
*.bak

# Android build output
*.apk
*.aab
*_BurstDebugInformation_DoNotShip/
